@import "../abstracts/variable.scss";
@import "../abstracts/function.scss";
@import "../abstracts/reset.scss";
@import "../abstracts/scroll-bar.scss";
header{
    .navbar-brand{
        color: $sub-main-color;
        @include max(420px) {
            img{
                max-width: 20%;
            }
            padding: 0px;
            margin: 0px;
            font-size: 8px;
        }
    }
    .btn-close{
        border: 1px solid $sub2-main-color;
    }
    .btn-close:hover{
        border: 1px solid cyan;
    }
    .sidebar{
        background-color: rgba(49, 49, 49, 0.737);
        border-right: 2px solid cyan !important;
        border-top: 0px  solid cyan !important;
        border-bottom: 0px solid cyan  !important;
    }
    .sticky{
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        background-color: #292929 !important;
      }
    .navbar-toggler{
        color: $main-color;
        border: 2px solid $main-color;
        @media (max-width: 360px) {
            & {
                position: absolute;
                top: 15px;
                right: 10px;
            }
        }
        #navicon{
            position: relative;
            width: 25px;
            height: 25px;
            padding: 0;
            border-radius: 5px;
           
            span{
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $main-color;
                border-radius: 9px;
                opacity: 1;
                margin: 0 auto;
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
                right: 0;
            }
            
            span:first-child{
                top: 5px;
            }
            span:nth-child(2){
                top: 11px;
               
            }
             span:last-child {
                top: 18px;
               
            }
        }
        #navicon:hover{
            span{
                transform: rotate(55deg);
                height: 3px;
            }
            span:nth-child(2){
                transform: rotate(-55deg);
                top: 10px;
              
            }
            span:first-child{
                top: 10px;
            }
            span:last-child{
                
                display: none;
               
            }
        }
        @media (max-width: 356px) {
  
            .navbar-toggler{
                position: absolute;
                top: 20px;
                right: 20px;
            }
         
    }
    }
    .active{
        color: $main-color !important;
    }
.nav-link{
            font-size: 18px;
            font-weight: lighter;
            color: $sub-main-color;
        }
.nav-link:hover{
        color: $main-color;
    }

    .s-d{
        @include max(991px) {
           display: none;
        }  
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            p{
                font-family: $f-primary;
            }
          
        }
        .icon{
            background-color: $main-color;
            border-radius: 100%;
            position: relative;
            width: 40px;
            height: 40px;
            padding: 0;
                span{
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 60%;
                    background: $sub3-main-color;
                    border-radius: 9px;
                    opacity: 1;
                    margin: 7px auto;
                    transform: rotate(0deg);
                    transition: 0.25s ease-in-out;
                }
                span:first-child{
                    top: 5px;
                    width: 15px;
                }
                span:nth-child(2){
                    top: 11px;
                    width: 20px;
                }
                 span:last-child {
                    top: 18px;
                    width: 15px;
                }
            
        }
        .icon:hover{
            cursor: none;
            span:first-child{
                top: 5px;
                width: 22px;
            }
            span:nth-child(2){
                top: 11px;
                width: 22px;
            }
             span:last-child {
                top: 18px;
                width: 22px;
            }
        }
        .text{
            text-transform: capitalize;
            font-family: $f-primary;
            color: $main-color;
        }
    }
}
    .click{
        position: fixed;
        display: none;
          transition: all .5s;
          top: 0;
           color: $sub-main-color;
           background-color: $sub4-color;
           width: 400px;
           height: 100vh;
           bottom: 1;
           background-clip: padding-box;
           outline: 0;
           z-index: 2;
        .nav-logo{
            color: $sub-main-color;
            font-size: 20px;
        }
        .text-toogle{
            margin-left: 30px;
            .nav-logo{
                margin-bottom: 20px;
            }
            h4{
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 20px;
            }
            ul {
                li{
                    a{
                        color: $sub2-main-color;
                        transition: all .5s;
                    }
                    a:hover{
                        color: $main-color;
                    }
                }
            }
        }
        }
}
    
    
  
    
  

 
