@import "../abstracts/variable.scss";
@import "../abstracts/function.scss";
@import "../abstracts/reset.scss";

.skills{
  padding: 60px 0px;
.contianer-md{
    @include max(1199px) {
        max-width: 940px;
    }
    @include max(968px) {
        max-width: 680px;
    }
    @include max(678px) {
      max-width: 520px;
    }
}

  .pl-3{
    padding-left: 30px;
  }
    .btn-2{
        background-color: transparent;
        border-color: $main-color;
        color: $sub-main-color;
        padding: 10px 20px;
        transition: all .5s !important;
    }
    .btn-2:hover{
        background-color: $main-color;
        color: $sub4-color;
    }
    .meter{  
         text-align: center;
         border-radius: 20px;
         background-color: $sub3-main-color;
         border: 1px solid $sub2-main-color;
         margin: 4px;
         width: 160px;
         transition: all 1s;
        .mtr{
           padding-left: 10px;
           padding-right: 10px;
           color: $sub2-main-color;
           transition: all 1s;
        }
    }
    .skills-b{
        border: 1px solid $sub2-main-color;
        border-radius: 10px;
        margin: 4px;
        max-width: 200px;
        transition: all 1s !important;
        @include max(1212px) {
            max-width: 180px;
        }
        @include max(1199px) {
          max-width: 100%;
          .meter{
            width: 100%;
          }
        }
        @include max(490px) {
          margin: 0px 20px;
      }
      @include max(390px) {
        margin: 4px;
    }
      @include max(358px) {
      margin: 25px;
       }
        }
    
    .skills-b:hover{
        border: 1px solid $main-color;
        cursor: none;
        .meter{
            background-color: $main-color;
            .mtr{
                color: $sub3-main-color;
            }
        }
    }

}


